body.formatacao1{
    background: #F9F9F9;
}

h1.saopaulo{
    color:white;
    background-color: #DE202C;
    font-family: 'Bahnschrift';
    text-align: center;
    padding: 15px

}

h1.preto{
    color:white;
    background-color: #000000;
    font-family: 'Bahnschrift';
    text-align: center;
    padding: 15px
}

h1.palmeiras{
    color:white;
    background-color: #1E5B3C;
    font-family: 'Bahnschrift';
    text-align: center;
    padding: 15px
}

h1.titulo1{
    font-family: 'Bahnschrift';
    text-align: center;
    background-color: #2CB63AD7;
    color: white;
    margin-top: 10px;
    padding: 15px
    
}

h2.titulo2{
    font-family: 'Bahnschrift';
    text-align: justify;
    font-size: 40px;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 10px;
}

h3.titulo3{
    font-family: 'Bahnschrift';
    text-align: justify;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 10px;
}

p.alinhamento{
    font-family: 'Bahnschrift';
    text-align: justify;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 10px;
}

ul{
    font-family: 'Bahnschrift';
    text-align: justify;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 20px;
}

td.img_time{
    padding-left: 450%;    
}

button.botao_corinthians{
    background-color: #414141;
    color: white;
    border:1px solid #000000;
    border-radius:4px;
    display:inline-block;
    cursor:pointer;
    font-family: 'Bahnschrift';
    font-weight:bold;
    font-size:13px;
    padding:7px 10px;
    text-decoration:none;
    width: 100%;
}

button.botao_palmeiras{
    background-color: #1E5B3C;
    color: white;
    border:1px solid #D1D1D1;
    border-radius:4px;
    display:inline-block;
    cursor:pointer;
    font-family: 'Bahnschrift';
    font-weight:bold;
    font-size:13px;
    padding:7px 10px;
    text-decoration:none;
    width: 100%;
}

button.botao_saopaulo{
    background-color: #DE202C;
    color: white;
    border:1px solid #D1D1D1;
    border-radius:4px;
    display:inline-block;
    cursor:pointer;
    font-family: 'Bahnschrift';
    font-weight:bold;
    font-size:13px;
    padding:7px 10px;
    text-decoration:none;
    width: 100%;
}

a.fonte_link{
    font-family: 'Bahnschrift';
    text-align: justify;
    color: #000000;
    text-decoration: none;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 10px;
}

p.ptime{
    margin-left: 5px;
}

img.logotime{
    width:25px;
    height:25px;
    vertical-align:middle;
    margin-right: 5px;
    margin-left: 15px;
}

table.tclassificacao{
    text-align: center;
    margin:auto;
    border-collapse: collapse;
}

td.time{
    width:150px;
    text-align: left;
    border-bottom: 1px solid #C5C5C4;
}

td.pontuacao{
    width:50px; 
    background-color: #d4bba2; 
    border-color: #d4bba2;  
    color: #693D14;
}

th.campeao{
    background-image: linear-gradient(to right, #DE202C,#000,#000);
    border-radius: 0px 0px 15px 15px;
    color: #FFF;
    height: 60px;
}

th.classificacao{
    background-color: #693D14;
    border-color: #693D14;
    height: 30px;
    color: #d4bba2;
    border-radius: 15px 15px 0px 0px;
}

th.header{
    height: 30px;
}

tr.bpont{
    border-bottom: 1px solid #C5C5C4;
}

table.tabela{
    margin:auto;
    border-spacing: 20px;
}

.histtime{
    background-color: #FFFFFF;
    width:250px;
    text-align: center;
    margin-top: 3;
    border: 1px outset #D1D1D1;
    border-radius: 10%;    
}

.histime_saopaulo{
    width: 250px;
    border: 1px solid #D1D1D1;
    border-radius: 10%;
    text-align: center;
}

.histime_saopaulo:hover{
    background-color: #DE202C;
    transform: scale(1.05);
    filter: drop-shadow(10px 5px 2.5px rgba(0,0,0,.5));
    border: 3px solid #DE202C;
    border-radius: 10%;
    text-align: center;
}

.histime_palmeiras{
    width: 250px;
    border: 1px solid #D1D1D1;
    border-radius: 10%;
    text-align: center;
}

.histime_palmeiras:hover{
    background-color: #1E5B3C;
    transform: scale(1.05);
    filter: drop-shadow(10px 5px 2.5px rgba(0,0,0,.5));
    border: 3px solid #1E5B3C;
    border-radius: 10%;
    text-align: center;
}

.histime_corinthians{
    width: 250px;
    border: 1px solid #D1D1D1;
    border-radius: 10%;
    text-align: center;
}

.histime_corinthians:hover{
    background-color: #414141;
    transform: scale(1.05);
    filter: drop-shadow(10px 5px 2.5px rgba(0,0,0,.5));
    border: 3px solid #414141;
    border-radius: 10%;
    text-align: center;
    
}

.histime_santos{
    width: 250px;
    border: 1px solid #D1D1D1;
    border-radius: 10%;
    text-align: center;
}

.histime_santos:hover{
    background-color: #414141;
    transform: scale(1.05);
    filter: drop-shadow(10px 5px 2.5px rgba(0,0,0,.5));
    border: 3px solid #414141;
    border-radius: 10%;
    text-align: center;
}

img.imagemtime{
    margin-top: 20px;
}

h1{
    text-align: center;
}

div.cadastro{
    background-color: #FFFFFF;
    width:600px;
    height:600px;
    border: 1px solid #8f8f8f;
    border-radius: 5%;
    margin: auto;
    align-items: center;
    font-family: 'Bahnschrift';
    color: #414141;
}

fieldset.formcad{
    margin-left: 15px;
    margin-top: 30px;
    border: none;
}

.divbtncadastrar{
    text-align: center;
    margin-top: 10px;
}

.btncadastrar{
    background-color: #2CB63AD7;
    border: 1px #2CB63AD7;
    border-radius: 5px;
    color: white;
    padding: 10px 32px;
    font-size: 20px;
    font-family: 'Bahnschrift';
}

.input_select {
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-family: 'Bahnschrift';
    font-size: 18px;
    
}

table.socios{
    margin:auto;
    text-align: center;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
}

.tdsocios{
    font-family: 'Bahnschrift';
    font-size: 18px;
    color: #414141;
}

.header{
    font-family: 'Bahnschrift';
    font-size: 18px;
    color: #FFFFFF;
    background-color: #0D3611;
}

.hnome{
    width: 150px;
    height: 30px;
}

.hsexo{
    width: 100px;
    height: 30px;
}

.hemail{
    width: 300px;
    height: 30px;
}

.htelefone{
    width: 150px;
    height: 30px;
}

.htime{
    width: 150px;
    height: 30px;
}

.hnews{
    width: 150px;
    height: 30px;
}

tr.dados:nth-child(even){
    background: #FFFFFF
}

tr.dados:nth-child(odd){
    background: #EEEEEE
}

.vbtnhome{
    background-color: #2CB63AD7;
    color: white;
    border:1px solid #D1D1D1;
    border-radius:4px;
    display:inline-block;
    cursor:pointer;
    font-family: 'Bahnschrift';
    font-weight:bold;
    font-size:13px;
    padding:7px 10px;
    text-decoration:none;
    width: 100%;
}

.imgok{
    display: block;
    margin-left: auto;
    margin-right: auto
}

.divbtn{
    text-align: center;
    margin-top: 10px;
}

.btn{
    width:45%;
    background-color: #2CB63AD7;
    border: 1px #2CB63AD7;
    border-radius: 5px;
    color: white;
    padding: 10px 32px;
    font-size: 20px;
    font-family: 'Bahnschrift';
}

.divbtnhome{
    text-align: center;
    margin-top: 10px;
}

.btnhome{
    width:45%;
    background-color: #0D3611;
    border: 1px #0D3611;
    border-radius: 5px;
    color: white;
    padding: 10px 32px;
    font-size: 20px;
    font-family: 'Bahnschrift';
}