body.formatacao1{
    background: #F9F9F9;
}

h1.saopaulo{
    color:white;
    background-color: #DE202C;
    font-family: 'Bahnschrift';
    text-align: center;
    padding: 15px

}

h1.preto{
    color:white;
    background-color: #000000;
    font-family: 'Bahnschrift';
    text-align: center;
    padding: 15px
}

h1.palmeiras{
    color:white;
    background-color: #1E5B3C;
    font-family: 'Bahnschrift';
    text-align: center;
    padding: 15px
}

h1.titulo1{
    font-family: 'Bahnschrift';
    text-align: center;
    background-color: #2CB63AD7;
    color: white;
    margin-top: 10px;
    padding: 15px
    
}

h2.titulo2{
    font-family: 'Bahnschrift';
    text-align: justify;
    font-size: 40px;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 10px;
}

h3.titulo3{
    font-family: 'Bahnschrift';
    text-align: justify;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 10px;
}

p.alinhamento{
    font-family: 'Bahnschrift';
    text-align: justify;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 10px;
}

ul{
    font-family: 'Bahnschrift';
    text-align: justify;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 20px;
}

td.img_time{
    padding-left: 450%;    
}

button.botao_corinthians{
    background-color: #414141;
    color: white;
    border:1px solid #000000;
    border-radius:4px;
    display:inline-block;
    cursor:pointer;
    font-family: 'Bahnschrift';
    font-weight:bold;
    font-size:13px;
    padding:7px 10px;
    text-decoration:none;
    width: 100%;
}

button.botao_palmeiras{
    background-color: #1E5B3C;
    color: white;
    border:1px solid #D1D1D1;
    border-radius:4px;
    display:inline-block;
    cursor:pointer;
    font-family: 'Bahnschrift';
    font-weight:bold;
    font-size:13px;
    padding:7px 10px;
    text-decoration:none;
    width: 100%;
}

button.botao_saopaulo{
    background-color: #DE202C;
    color: white;
    border:1px solid #D1D1D1;
    border-radius:4px;
    display:inline-block;
    cursor:pointer;
    font-family: 'Bahnschrift';
    font-weight:bold;
    font-size:13px;
    padding:7px 10px;
    text-decoration:none;
    width: 100%;
}

a.fonte_link{
    font-family: 'Bahnschrift';
    text-align: justify;
    color: #000000;
    text-decoration: none;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 10px;
}

p.ptime{
    margin-left: 5px;
}

img.logotime{
    width:25px;
    height:25px;
    vertical-align:middle;
    margin-right: 5px;
    margin-left: 15px;
}

table.tclassificacao{
    background-color: #FFFFFF;
    border-collapse: collapse;
    border-color: #D3D3D3;
    border-bottom: 2px solid #C5C5C4;
    border-top: 2px solid #C5C5C4;
    text-align: center;
    margin:auto;
}

td.time{
    width:150px;
    text-align: left;
    border-bottom: 1px solid #C5C5C4;
}

td.pontuacao{
    width:50px; 
    background-color: #FFD700; 
    border-color: #FFD700;  
}

th.campeao{
   background-color: #5FF84D;
   height: 60px;
}

th.classificacao{
    background-color: #FAB158;
    border-color: #FAB158;
    height: 30px;
}

th.header{
    height: 30px;
}

tr.bpont{
    border-bottom: 1px solid #C5C5C4;
}

table.tabela{
    margin:auto;
    border-spacing: 20px;
}

.histtime{
    background-color: #FFFFFF;
    width:250px;
    text-align: center;
    margin-top: 3;
    border: 1px outset #D1D1D1;
    border-radius: 10%;    
}

.histime_saopaulo{
    width: 250px;
    border: 1px solid #D1D1D1;
    border-radius: 10%;
    text-align: center;
}

.histime_saopaulo:hover{
    background-color: #DE202C;
    transform: scale(1.05);
    filter: drop-shadow(10px 5px 2.5px rgba(0,0,0,.5));
    border: 1px solid #D1D1D1;
    border-radius: 10%;
    text-align: center;
}

.histime_palmeiras{
    width: 250px;
    border: 1px solid #D1D1D1;
    border-radius: 10%;
    text-align: center;
}

.histime_palmeiras:hover{
    background-color: #1E5B3C;
    transform: scale(1.05);
    filter: drop-shadow(10px 5px 2.5px rgba(0,0,0,.5));
    border: 1px solid #D1D1D1;
    border-radius: 10%;
    text-align: center;
}

.histime_corinthians{
    width: 250px;
    border: 1px solid #D1D1D1;
    border-radius: 10%;
    text-align: center;
}

.histime_corinthians:hover{
    background-color: #414141;
    transform: scale(1.05);
    filter: drop-shadow(10px 5px 2.5px rgba(0,0,0,.5));
    border: 1px solid #000000;
    border-radius: 10%;
    text-align: center;
    
}

.histime_santos{
    width: 250px;
    border: 1px solid #D1D1D1;
    border-radius: 10%;
    text-align: center;
}

.histime_santos:hover{
    background-color: #414141;
    transform: scale(1.05);
    filter: drop-shadow(10px 5px 2.5px rgba(0,0,0,.5));
    border: 1px solid #000000;
    border-radius: 10%;
    text-align: center;
}

img.imagemtime{
    margin-top: 20px;
}

h1{
    text-align: center;
}