<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Campeonato Paulista</title>
    <link rel="shortcut icon" href="./../static/images/favicon.svg" />
    <link rel="stylesheet" type="text/css" href="./../static/css_main.css"/>
</head>
<body class='formatacao1'>
    <h1 class="titulo1">Cadastro de novos sócios</h1>
    <form action="cadastro" method="POST">
        <label>Digite seu nome: </label><br>
        <input type="text" maxlength="50" name="nome"><br>
        <label>Digite seu e-mail: </label><br>
        <input type="text" maxlength="50" name="email"><br>
        <label>Digite seu time: </label><br>
        <input type="text" maxlength="50" name="time"><br><br>
        <input type="submit" value="Salvar">
        
    </form>
</body>
</html>