<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css_main.css"/>
    <title>Corinthians</title>
</head>
<body class='formatacao1'>
    <h1 class="preto">História do Corinthians</h1>
<table>
    <tr>
        <td class="img_time"><a href="detalhe_de_curso.html"><img width="125px" height="125px" src="../images/corinthians.png"/></a></td>
    </tr>
</table>
    <p class="alinhamento">O Sport Club Corinthians Paulista (mais conhecido como Corinthians, e pelos apelidos de "Timão" e "Coringão") 
    é um clube multiesportivo brasileiro da cidade de São Paulo, capital do estado homônimo. Foi fundado como uma equipe de futebol no 
    dia 1 de setembro de 1910 por um grupo de operários do bairro Bom Retiro. Seu nome foi inspirado no Corinthians FC de Londres, 
    que excursionava pelo Brasil, sendo chamado pela imprensa brasileira da época de Corinthian's team. Embora tenha atuado em outras 
    modalidades esportivas ao longo dos anos, seu reconhecimento e suas principais conquistas foram alcançados no futebol. O clube é 
    um dos mais bem sucedidos do Brasil e das Américas nos últimos anos. Sendo o segundo maior campeão nacional, com onze conquistas, 
    ficando atrás somente do Palmeiras. Tendo conquistado dois Mundiais de Clubes da FIFA (recordista na América do Sul, sendo superado 
    mundialmente, somente pelo Barcelona e Real Madrid), uma Copa Libertadores da América invicta, uma Recopa Sul-Americana, sete 
    Campeonatos Brasileiros, três Copas do Brasil, uma Supercopa do Brasil (recordista, ao lado de Flamengo e Grêmio), cinco Torneios 
    Rio-São Paulo (recordista, ao lado de Palmeiras e Santos), duas Taça dos Campeões Estaduais Rio–São Paulo, 30 Campeonatos Paulistas 
    (atual recordista) e uma Copa Bandeirantes (único vencedor).</p><br>

    <a href='index.html'><button class="botao">Índice</button></a>
</body>
</html>