<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Campeonato Paulista</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css_main.css') }}"/>
</head>
<body class='formatacao1'>
    <h1 class="titulo1">CAMPEONATO PAULISTA</h1>
    <h3 class="titulo3">Federação Paulista de Futebol</h3>
    <p class="alinhamento">Missão: Fomentar o Futebol Paulista com uma gestão profissional e de excelência.<br/>
        Visão: Ser referência na realização de competições.<br/>
        Valores: Respeito, Ética, Transparência e Inovação.<br/><br/>
        Política de Qualidade<br/><br/>
        A Federação Paulista de Futebol tem como compromissos:<br/>        
        Atender às necessidades dos filiados, estatutárias e regulamentares aplicáveis tanto na organização das competições quanto na proteção e defesa do torcedor;<br/>
        Disseminar as melhores práticas de Gestão, comprometendo o corpo diretivo e profissional com sua aplicação, buscando a excelência em seus processos;<br/>
        Desenvolver continuamente a capacitação e profissionalização de nossos colaboradores;<br/>  
        Aprimorar constantemente a eficácia do Sistema de Gestão da Qualidade por meio da melhoria dos seus processos.</p>

        <table cellpadding="11" cellspacing="0" align="center">
            <thead>
                <tr>
                    <th colspan="10">Campeonato Paulista 2020</th>
                </tr>
                <tr>
                    <th rowspan="2">CLASSIFICAÇÃO</th>
                    <th colspan="1">P</th>
                    <th colspan="1">J</th>
                    <th colspan="1">V</th>
                    <th colspan="1">E</th>
                    <th colspan="1">D</th>
                </tr>
                
            </thead>
            <tbody>
                <tr>
                    <th>1º São Paulo</th>
                    <td>35</td>
                    <td>19</td>
                    <td>10</td>
                    <td>5</td>
                    <td>4</td>
                </tr>
                <tr>
                    <th>2º Palmeiras</th>
                    <td>32</td>
                    <td>18</td>
                    <td>10</td>
                    <td>2</td>
                    <td>6</td>
                </tr>
                <tr>
                    <th>3º Corinthians</th>
                    <td>32</td>
                    <td>19</td>
                    <td>9</td>
                    <td>5</td>
                    <td>5</td>
                </tr>
                <tr>
                    <th>4º Santos</th>
                    <td>30</td>
                    <td>19</td>
                    <td>8</td>
                    <td>6</td>
                    <td>5</td>
                </tr>
                
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="10"><strong>CAMPEÃO PAULISTA 2020<br><br>SÃO PAULO</strong></th>
                </tr>
            </tfoot>

        <table class="tabela"><br><br>
            <h2 class="titulo2">Conheça a História do seu Clube</h2><br>
            <tr>
                <td><a href="saopaulo"><img width="125px" height="125px" src="{{ url_for('static', filename='saopaulo.png') }}"/></a></td>
                <td>
                    <a class="fonte_link" href="saopaulo"><h1>São Paulo</h1></a>
                </td>
            </tr>            
            <tr>
                <td><a href="palmeiras"><img width="125px" height="125px" src="{{ url_for('static', filename='palmeiras.png') }}"/></a></td>
                <td>
                    <a class="fonte_link" href="palmeiras"><h1>Palmeiras</h1></a>
                </td>
            </tr>
            <tr>
                <td><a href="corinthians"><img width="125px" height="125px" src="{{ url_for('static', filename='corinthians.png') }}"/></a></td>
                <td>
                    <a class="fonte_link" href="corinthians"><h1>Corinthians</h1></a>
                </td>
            </tr>
            <tr>
                <td><a href="santos"><img width="125px" height="125px" src="{{ url_for('static', filename='santos.png') }}"/></a></td>
                <td>
                    <a class="fonte_link" href="santos"><h1>Santos</h1></a>
                </td>
            </tr>
        </table>
</body>
</html>