<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Campeonato Paulista</title>
    <link rel="shortcut icon" href="./../static/images/favicon.svg" />
    <link rel="stylesheet" type="text/css" href="./../static/css_main.css"/>
</head>
<body class='formatacao1'>
    <h1 class="titulo1">CAMPEONATO PAULISTA</h1>
    <div class="divbtnhome">
    <a href='cadastro'><button class="btnhome">Seja Sócio Torcedor</button></a>
    <a href='listarsocios'><button class="btnhome">Listar Sócios </button></a>
    </div>
    <h3 class="titulo3">Federação Paulista de Futebol</h3>
    <p class="alinhamento">
        <strong>Missão:</strong> Fomentar o Futebol Paulista com uma gestão profissional e de excelência.<br/>
        <strong>Visão:</strong> Ser referência na realização de competições.<br/>
        <strong>Valores:</strong> Respeito, Ética, Transparência e Inovação.<br/><br/>
        <strong>Política de Qualidade</strong><br/><br/>
        A Federação Paulista de Futebol tem como compromissos:<br/>
        <ul>
            <li>Atender às necessidades dos filiados, estatutárias e regulamentares aplicáveis tanto na organização das competições quanto na proteção e defesa do torcedor;</li>
            <li>Disseminar as melhores práticas de Gestão, comprometendo o corpo diretivo e profissional com sua aplicação, buscando a excelência em seus processos;</li>
            <li>Desenvolver continuamente a capacitação e profissionalização de nossos colaboradores;</li>
            <li>Aprimorar constantemente a eficácia do Sistema de Gestão da Qualidade por meio da melhoria dos seus processos.</li>        
        </ul> 
        <p>      

        <h1 class="tituloindex">Campeonato Paulista 2020</h1>

        <table class="tclassificacao">
            <thead>
                <tr>
                    <th colspan="6" class="classificacao">CLASSIFICAÇÃO</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="pontuacao"></td>
                    <td class="pontuacao"><strong>P</strong></td> 
                    <td class="pontuacao"><strong>J</strong></td>
                    <td class="pontuacao"><strong>V</strong></td>
                    <td class="pontuacao"><strong>E</strong></td>
                    <td class="pontuacao"><strong>D</strong></td>
                </tr>
                <tr class="bpont">
                    <td class="time" >
                        <p class="ptime">1º<img src="./../static/images/saopaulo.png" class="logotime">São Paulo</p>
                    </td>
                    <td>35</td>
                    <td>19</td>
                    <td>10</td>
                    <td>5</td>
                    <td>4</td>
                </tr>

                <tr class="bpont">
                    <td class="time">
                        <p class="ptime">2º<img src="./../static/images/palmeiras.png" class="logotime">Palmeiras</p>
                    </td>
                    <td>32</td>
                    <td>18</td>
                    <td>10</td>
                    <td>2</td>
                    <td>6</td>
                </tr>
                <tr class="bpont">
                    <td class="time">
                        <p class="ptime">3º<img src="./../static/images/corinthians.png" class="logotime">Corinthians</p>
                    </td>
                    <td>32</td>
                    <td>19</td>
                    <td>9</td>
                    <td>5</td>
                    <td>5</td>
                </tr>
                <tr class="bpont">
                    <td class="time">
                        <p class="ptime">4º<img src="./../static/images/santos.png" class="logotime">Santos</p>
                    </td>
                    <td>30</td>
                    <td>19</td>
                    <td>8</td>
                    <td>6</td>
                    <td>5</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="10" class="campeao"><strong>CAMPEÃO PAULISTA 2020<br><br>SÃO PAULO</strong></th>
                </tr>
            </tfoot>
        </table>

        <h1 class="tituloindex">Conheça a História do seu Clube</h1>

             <table class="tabela">            
            <tr>
                <td class="histime_saopaulo"><a href="saopaulo"><img width="125px" height="125px" src="./../static/images/saopaulo.png" class="imagemtime"/></a>
                <br/>
                    <a class="fonte_link" href="saopaulo"><h1>São Paulo</h1></a>
                </td>
                <td class="histime_palmeiras"><a href="palmeiras"><img width="125px" height="125px" src="./../static/images/palmeiras.png" class="imagemtime"/></a>
                <br/>
                    <a class="fonte_link" href="palmeiras"><h1>Palmeiras</h1></a>
                </td>
               <td class="histime_corinthians"><a href="corinthians"><img width="125px" height="125px" src="./../static/images/corinthians.png" class="imagemtime"/></a>
               <br/>
                    <a class="fonte_link" href="corinthians"><h1>Corinthians</h1></a>
                </td>
               <td class="histime_santos"><a href="santos"><img width="125px" height="125px" src="./../static/images/santos.png" class="imagemtime"/></a>
               <br/>
                    <a class="fonte_link" href="santos"><h1>Santos</h1></a>
                </td>
            </tr>
        </table>
</body>
</html>