<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Cadastro sucesso</title>
    <link rel="shortcut icon" href="./../static/images/favicon.svg" />
    <link rel="stylesheet" type="text/css" href="./../static/css_main.css"/>
</head>
<body class="formatacao1">
    <h1 class="titulo1">Cadastro efetuado com sucesso</h1>
    <img src="./../static/images/cad_ok.gif" class="imgok">
    <div class="divbtn">
    <a href='cadastro'><button class="btn">Novo cadastro</button></a>
    <a href='home'><button class="btn">Voltar para home</button></a>
    <div/>
</body>
</html>