<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Santos</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/faicon.svg') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css_main.css') }}"/>
</head>
<body class='formatacao1'>
    <h1 class="preto">História do Santos</h1>
<table>
    <tr>
        <td class="img_time"><img width="125px" height="125px" src="{{ url_for('static', filename='images/santos.png') }}"/></a></td>
    </tr>
</table>
    <p class="alinhamento">O Santos Futebol Clube, (popularmente conhecido como Santos), é um clube poliesportivo brasileiro da cidade 
    de Santos, litoral do estado de São Paulo. Foi fundado em 14 de abril de 1912, suas cores iniciais seriam o branco, azul e dourado, 
    mas um ano após a sua fundação, ficou decidido que as cores do clube passariam a ser branco e preto. Manda as suas partidas em seu 
    próprio estádio, a Vila Belmiro, mas ocasionalmente desloca seus jogos ao Pacaembu. Seus maiores rivais no futebol são o Corinthians,
    com quem disputa o Clássico Alvinegro, o Palmeiras, com quem disputa o Clássico da Saudade, e o São Paulo, com disputa o San-São. 
    O Santos tornou-se no futebol um dos clubes mais bem-sucedidos do Brasil e reconhecidos mundialmente. Ficou famoso na década de 60 pelos 
    vários títulos internacionais e nacionais conquistados e por ter revelado Pelé, considerado o melhor jogador do século pela FIFA e 
    também o maior artilheiro da história do Santos e da Seleção Brasileira. Abaixo de Pelé com 77 gols pela seleção em jogos oficiais, 
    está também outro jogador revelado pelo clube, Neymar, que alcançou a marca de 64 gols e ultrapassou Ronaldo com 62 gols.</p><br>
    
    <a href='home'><button class="botao">Voltar para home</button></a>
</body>
</html>